@import '../vars.less';

.s1 {
  padding: 200px 0 40px 0;
  display: flex;
  align-items: center;

  @media (max-width: @xs) {
    flex-direction: column;
    padding: 100px 0 40px 0;
  }

  .logoWarap {
    margin-right: 60px;

    @media (max-width: @xs) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .logo {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    border: #f1f1f1 2px solid;
    //box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    //box-shadow: 0 0 5px #30efe6, 0 0 10px @Blink-Color;
  }

  .h3 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
    color: #fff;
  }

  font-size: 30px;

  @media (max-width: @xs) {
    font-size: 20px;
  }

  span {
    font {
      animation: blinking 5s infinite;
    }
  }

  blockquote {
    margin: 0;
    animation: blinking 5s infinite;
    a {
      line-height: 30px;
      color: #f6f7ec;
      text-decoration: underline;
      animation: blinking 5s infinite;
    }
  }

  blockquote::before {
    content: '“';
    font-size: 50px;
    position: relative;
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }

  blockquote::after {
    content: '”';
    font-size: 50px;
    position: relative;
    top: 45px;
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }
}

.snapshots {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 700px;
  background: #f6f7ec;
  overflow: hidden;

  @media (max-width: @xs) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .snapshot {
    width: 320px;
    border: 10px gray solid;
    border-radius: 40px;
  }

  .snapshot1 {
    position: relative;
    top: 30px;
    right: -25px;
  }

  .snapshot2 {
    position: relative;
    top: -30px;
    right: 25px;
    z-index: 1;
  }
}

.node-enter {
  opacity: 0;
}

.node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.node-exit {
  opacity: 1;
}

.node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828,
    0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
    0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.insetshadow {
  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

@keyframes blinking {
  10% {
    color: @Blink-Color;
    text-shadow: 0 0 15px @Blink-Color;
    font-weight: bold;
  }
  50% {
    color: @Blink-Color;
    text-shadow: 0 0 15px @Blink-Color;
    font-weight: bold;
  }
  100% {
    color: #202020;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    font-weight: bold;
  }
}

.box {
  padding: 15px 30px 20px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  color: #202020;
  background-color: #292929;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 1px 2px 5px #363636;
  font-weight: bold;
  //box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51,
  //  inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
  //border: #30efe6 1px solid;
  box-shadow: 0 0 5px #fff, 0 0 200px @Blink-Color;

  @media (max-width: @xs) {
    padding: 20px 5px;
  }
}

.phone {
  margin: 20px;
  @media (max-width: @xs) {
    margin: 0;
  }
}
